<% include partials/header %>

<div id="nav">
    <h1>SpaceX Tracker</h1>

    <ul>
        <li class="active">ROCKETS</li>
        <li>ROADSTER</li>
        <li>LAUNCHES</li>
        <li>MISSIONS</li>
        <li>HISTORY</li>
        <li>ABOUT US</li>
    </ul>
</div>
<div id="container">

    <div id="image-area">
        <h2>images</h2>
    </div>

    <div id="info-area">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus in voluptatem earum vero! Fugiat modi
            praesentium voluptatem nam quisquam in ab. Quasi odio magnam, maxime sed esse fugiat reiciendis. Laboriosam
            nemo commodi alias molestias earum! Tempore velit quaerat, voluptate necessitatibus odit architecto
            inventore error totam quidem, neque accusamus non suscipit eligendi harum et repellendus enim earum!
            Tempora, modi fugiat magnam voluptatum repellat ullam debitis fugit quaerat numquam tempore animi eveniet
            odit adipisci dignissimos rem? Maxime accusamus odio voluptates quam veritatis!</p>
    </div>
</div>

<% include partials/footer %>