@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$colors: (unactive_grey: #808080,
orange: #FF8900,
background: #F0F0F0);

@function color($color_name) {
    @return map-get($colors, $color_name);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: color(background);
    margin: 0;
}


.active {
    color: color(orange);
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0;
    float: right;
    overflow: hidden;
}

#nav {
    background-color: #fff;
    display: inline;
    float: left;

    h1 {
        font-size: 3em;
        border-bottom: 3px solid color(orange);
    }

    ul {
        list-style-type: none;
        padding: 0;
        box-sizing: border-box;

        li {
            font-size: 1.8em;
            margin-bottom: 1.7em;
            color: color(unactive_grey);
        }
    }
}

#image-area {
    background-color: red;

}

#info-area {
    background-color: black;
    color: white;
}